@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/micromag84/azureactivityfeed">https://github.com/micromag84/azureactivityfeed</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/micromag84">@@micromag84</a>
</address>
